@import url('../icon/css/font-awesome.css');
body {
    /* background-image: var(--conic-theme-1); */
    background-color: #e3e3e333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: conic-gradient(#fff 50%, #ff4a09ed 0);
}
.form-section {
    position: relative;
    top: 9%;
    max-width: 550px;
    border: 1px solid #dd450fed;
    margin-left: auto;
    margin-right: auto;
    height: 705px;
    border-radius: 8px;
    background-color: #fff;
}
.form-section header .logo {
    display: flex;
    justify-content: center;
}
.form-section header .logo > div {
    border-radius: 50%;
    height: 123px;
    max-width: 123px;
    border: 1px solid #e1e6e9;
}
.form-section header .logo > div img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.form-section header {
    margin-top: 45px;
}
.form-section header h1, p {
    text-align: center;
}
.form-section header  p {
    margin-top: -15px;
}
.form-section form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 50px;
}
.form-section form input[type="email"],input[type="password"] {
    height: 33px;
    border-radius: 5px;

}
.form-section form input[type = "checkbox"] { 
    margin-left: -14%;
}
.form-section form button {
    height: 40px;
    width: 50%;
    border-radius: 20px;
    background-color: #03b3ff;
    color: #fff;
    border: 1px solid #18749d;
    cursor: pointer;
    transition: 1s;
}
.form-section form button:hover{
    background-color: #03b3ffb3;
    border-radius: 4px;
}
.form-section .container-sm-box {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    border: 1px solid black;
}
.form-section .options {
    background-color: dodgerblue;
    padding-left: 20px;
    padding-right: auto;
    line-height: 20px;
    font-size: medium;
}
.form-section .options a {
    text-decoration: none;
}
/* options */
.social-media{
    display: flex;
    gap: 8px;
    padding: 8px;
    height: auto;
    width: auto;
}
.social-media > div {
    border-radius: 50%;
    height: 43px;
    width: 43px;
    transition: 1.7s;
}
.social-media i {
    margin: 13px;
    font-size: larger;
    color: #fff;
}
.social-media .facebook{
    border: 1px solid #3b5998;
}
.social-media .twitter {
    border: 1px solid #1DA1F2;
}
.social-media .linkedin {
    border: 1px solid #0e76a8;
}
.social-media .instagram {
    border: 1px solid #5851DB;
}
.social-media .facebook i {
    color: #3b5998;
}
.social-media .twitter i {
    color: #1DA1F2;
}
.social-media .linkedin i {
    color: #0e76a8;
}
.social-media .instagram i {
    color: #5851DB;
}
.social-media .facebook:hover{
    background-color: #3b5998;
}
.social-media .twitter:hover{
    background-color: #1DA1F2;
}
.social-media .linkedin:hover {
    background-color: #0e76a8;
}
.social-media .instagram:hover {
    background-color: #5851DB;
}
.social-media > div:hover i {
    color: #fff;
}