/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    
        .form-section {
            top: 15% !important;
            max-width: 470px !important;
            height: 600px !important;
        }
    
        form {
            padding-left: 33px !important;
            padding-right: 33px !important;
            /* margin-top: 5px!important; */
        }
    
        header h1 {
            font-size: 30px !important;
        }
    
        form input[type="checkbox"] {
            margin-left: -3% !important;
        }
    
        .text-sm {
            font-size: 14px !important;
        }
    
        .container-sm-box {
            margin-top: -70px !important;
        }
    
        .social-media {
            margin-top: -12px !important;
        }
    
        .icons-box>div {
            border-radius: 50% !important;
            height: 30px !important;
            width: 30px !important;
        }
    
        .social-media {
            justify-content: space-around !important;
        }
    
        .forgot-password {
            margin-right: 4% !important;
        }
    
        .icons-box i {
            margin: 9px !important;
            font-size: smaller !important;
        }
}

@media only screen and (max-width: 576px) {

    .container {
        background: conic-gradient(#18a3df 50%, #18a3df 0)!important;
    }
}